@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.flex-inner {
    min-width:0;
    max-height:0;

}

#gray-box {
    margin-top: 1em;
    color: #505050;
}

#light-gray-box {
    margin-top: 1em;
    color: #505050;
    background: #f0f0f0;
    font-size: 1.1em;
}